:root {
    --text-purplecolor: #b292ff;
    --bgcolor: #211f23;
    --text-bgcolor : #211f23;
    --hover-textbgcolor: #ffffff;
    --linkedin-color: #0077b5;
}

/* Navbar Style  */
.navbar {
  width: 100vw;
  height: 95vh;
}

.nav-menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 500px;
  border-radius: 30px;
  background-color: var(--bgcolor);
}

.active {
  color: var(--text-purplecolor);
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  background-color: var(--text-bgcolor);
  padding: 8px;
  border-radius: 20px;
  font-weight: 600;
}

#github {
  color: black;
  background-color: var(--hover-textbgcolor);
}

#github:hover {
  color: var(--hover-textbgcolor);
  background-color: #000000;
}

#linkedin {
  color: var(--linkedin-color);
  background-color: var(--hover-textbgcolor);
}

#linkedin:hover {
  background-color: var(--linkedin-color);
  color: var(--hover-textbgcolor);
}

.errorPage {
  background-image: url(./assets/404Page.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Home Page  */
.intro-container {
  width: 900px;
  padding: 25px 100px 25px 65px;
  margin: 85px;
  border-radius: 80px;
  outline: 5px dashed var(--bgcolor);
  background-image: url(./Background\ Image.png);
  background-size: cover;
}

.heading-box {
  font-size: 30px;
  margin: 10px 0;
}

.colorMix-heading {
  background: linear-gradient(to right, #ea8e8e 0%, #f6dd3b 100%);
  background-clip: text;
  color: transparent;
}

.info-box {
  margin-top: 30px;
}

.info-box p {
  font-size: 18px;
  margin: 10px 0;
}

/* Social Media  */
.social-media {
  display: flex;
  justify-content: center;
}

.socialMedia-link {
  background-color: var(--bgcolor);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding: 8px;
  border-radius: 30px;
}

.text-media {
    background-color: var(--bgcolor);
}

.text-media p{
    padding: 8px;
    background-color: var(--text-bgcolor);
    margin-left: 15px;
    font-weight: 600;
}

.socialMedia-icon ul {
  list-style-type: none;
  display: flex;
  padding: 5px;
  background-color: var(--text-bgcolor);
}

.socialMedia-icon  li {
    background-color: var(--text-bgcolor);
    margin: 0 10px;
    margin-right: 15px;
    font-weight: 600;
}

.social-link {
  background-color: var(--text-bgcolor);
  text-decoration: none;
}

/* Education Page  */
.educationList {
  border: 10px dashed var(--text-bgcolor);
  text-align: center;
  border-radius: 50px;
}

.education-item {
  margin-top: 15px;
}