.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.container-md {
    width: 100%;
    /* max-width: 1140px; */
    margin: 0 auto;
}

/* body {
    background-color: rgb(111, 102, 194);
    color: white;
} */

p {
    font-size: 1.2rem;
}

li {
    font-size: 1.2rem;
}